/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans"; /* Applying the imported font */
}

/* Styling for the body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../image/login-background.png') no-repeat; /* Adding background image */
    background-size: cover;
    background-position: center;
}

/* Styling for the main container */
.container-box {
    width: 420px;
    background: white;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px); /* Creating a blurred effect */
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius: 20px;
    padding: 30px 40px;
}

/* Styling for the heading */
.container-box h1 {
    color:  #007633;
    font-size: 46px;
    text-align: center;
    margin-bottom: 30px;
}

/* Styling for input boxes */
.container-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: #E8F0FE;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: grey;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}


/* Styling for the "Remember me" checkbox and "Forgot Password" link */
.container-box .term-checkbox {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 20px 0px 20px 10px;
}

.term-checkbox label input {
    accent-color: black;
    margin-right: 10px;
}

/* Styling for the login button */
.container-box .btn {
    width: 100%;
    height: 45px;
    background: #007633;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

.container-box .btn:hover{
    background:  #009640;
}

/* Styling for the registration link */
.container-box .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

/* Styling for the gender dropdown */
.gender-dropdown select {
    width: 100%; /* Adjusted width to accommodate arrow */
    height: 50px;
    background: #E8F0FE;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 0px 40px 0px 20px; /* Adjusted padding for arrow */
    appearance: none; /* Remove default appearance */
    -webkit-appearance: none; /* Remove default appearance for webkit browsers */
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position-x: calc(100% - 20px); /* Adjusted position for arrow */
    background-position-y: 50%;
    background-size: 24px;
}

.dateofbirth {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.dateofbirth label {
    margin-right: 10px;
    margin-left: 10px;
}
